{% extends 'base.html' %}
{% block title %} Create a new Blog {% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Post </h1>
        <br/><br/>
        <div class="form-group">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                {# The form is going to be represented by changing .as_p to anything. it can change to ul or table anything #}
                <button class="btn btn-success">post</button>
            </form>
        </div>
        <script>
            const name = "{{ user.id }}";
            document.getElementById("an").value = name;
        </script>
    {% else %}
        You are not allowed here
    {% endif %}

{% endblock %}
