{% extends 'base.html' %}
{% block title %} Edit your Blogpost {% endblock %}
{% block content %}
    {% if user.is_authenticated and user.id == post.author.id %}
        <h1>Edit Post Post </h1>
        <br/><br/>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                {# The form is going to be represented by changing .as_p to anything. it can change to ul or table anything #}
                <button class="btn btn-success">Edit</button>
            </form>
        </div>
    {% else %}
        You are not allowed here
    {% endif %}
{% endblock %}
